
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* @font-face {
        font-family: geograph;
        src: url(~assets/fonts/test-geograph-regular-italic.woff) format('woff');
             font-weight: 400;
             font-display: swap;
             font-style: italic;
      } */
    @font-face {
        font-family: 'geograph';
        font-weight: 400;
        src: url('~assets/fonts/test-geograph-regular.woff') format('woff');
      }
    @font-face {
        font-family: 'geograph-medium';
        font-weight: 500;
        src: url('~assets/fonts/test-geograph-medium.woff') format('woff');
      }
    /* @font-face {
        font-family: 'signifier-light';
        src: url('~assets/fonts/test-signifier-light-italic.woff') format('woff');
             font-weight: 300;
             font-display: swap;
             font-style: italic;
      } */
    @font-face {
        font-family: 'signifier-light';
        font-weight: 300;
        src: url('~assets/fonts/test-signifier-light.woff') format('woff');
      }
    @font-face {
        font-family: 'signifier-regular';
        font-weight: 400;
        src: url('~assets/fonts/test-signifier-regular.woff') format('woff');
      }
}
/* @import '~/assets/css/fonts.css'; */

body {
    font-family: 'geograph', sans-serif;
}

.sans-medium {
    font-family: 'geograph-medium', sans-serif;
}

/* .signifier-light {
    font-family: 'signifier-light'
}
.signifier-regular {
    font-family: 'signifier-regular'
} */

/* h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.01em; 
} */

.drag-none{
    -webkit-user-drag: none;
  }

.overlay-card {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}

.backface {
    -webkit-backface-visibility: hidden;
  }

.swirl-header {
    width: 120%;
    opacity: 40%;
    position: absolute;
    left: 50%;
    /* bottom: -140px; */
    bottom: -140px;
    transform-origin: center center;
    transform: rotate(12deg) translateX(-50%);
}

.slider-box {
    @apply relative p-8 rounded-lg transform transition duration-200 flex items-end justify-start w-full h-full overflow-hidden hover:-translate-y-2 hover:shadow-xl;
}

.blend-overlay {
    mix-blend-mode: overlay;
}

.header-hero {
    height: 80vh;
}
/* 
@screen md {
    .header-hero {
        height: 560px;
    }
    .swirl-header {
        bottom: -280px;
    }
}
@screen lg {
    .header-hero {
        height: 640px;
    }
    .swirl-header {
        bottom: -460px;
    }
} */

/* .prose em {
    @apply px-2 py-1 bg-neutral-100 rounded text-neutral-600;
} */


.absolute-center-y {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .absolute-center-x {
    left: 50%;
    transform: translateX(-50%);
  }

  
blockquote code {
    font-style: normal!important;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-x {
    left: 50%;
    transform: translateX(-50%);
}

.center-y {
    top: 50%;
    transform: translateY(-50%);
}

.top-500 {
    top: -500px;
}

.open-height {
    max-height: fit-content;
}

@screen md {
    .open-height {
        max-height: 800px;
    }

}

.-z-1 {
    z-index: -1;
  }

  .star {
    transform-origin: center center;
    animation: rotator 8s infinite linear;
  }

  @keyframes rotator {
      0% {
          transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
  }

.post-block, .post-border {
    min-height: 180px;
}
.post-border {
    margin-left: -2px;
}
.dot {
    top: 84px;
    left: -5px;
}

@screen md {
    .dot {
        left: -5px;
    }
}

.videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
    z-index:-1!important;
}

.videoWrapper video {
  left: 50%;
  min-height: 100vh;
  min-width: 200vw;
  position: absolute;
  z-index: -1!important;
  top: 50%;
  transform: translate(-50%, -50%);

}

@screen lg {
    .videoWrapper video {
        min-width: 100vw!important;
    }
}


